@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap'); // to replace with offline method

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Lato;
    background-color: var(--root-background);
    color: var(--root-foreground);

    --root-background: white;
    --panel-background: #f4f4f4;
    --panel-foreground: black;
    --button-background: white;
    --button-foreground: black;
    --border-color: #d0d0d0;

    @media (prefers-color-scheme: dark) {
        --root-background: black;
        --root-foreground: white;
        --panel-background: #222;
        --panel-foreground: white;
        --button-background: #444444;
        --button-foreground: white;
        --border-color: #444;
    }
}

.top-panel {
    height: 96px;
    background-color: var(--panel-background);
    border-bottom: solid 1px var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 800px) { 
        flex-direction: row;
        justify-content: center;
        height: 54px;
    }

    @media (max-height: 520px) {
        height: 72px;
    }

    .activity-selector {
        height: 54px;
        padding: 0 24px;

        *:not(:last-child) {
            margin-right: 24px; // space between items
        }

        .button {
            width: 100%;
        }

        @media (max-height: 520px) {
            height: fit-content;
            padding: 4px 8px;
            
            *:not(:last-child) {
                margin-right: 8px; // space between items
            }
        }
    }

    > div {
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .tabs {
        height: 40px;
        padding: 0 8px;
        position: relative;

        /**:not(:last-child) {
            margin-right: 16px; // space between items
        }*/

        @media (max-height: 520px) {
            height: 24px;
            margin: 4px 0;
        }

        .button {
            width: 100%;

            &:not(.selected-background) {
                border-color: transparent;
                background: transparent;
                z-index: 1;
            }

            &.selected-background {
                position: absolute;
                left: 8px;
                transform: translateX(calc(100%));
                width: calc(100% / 4 - 4px);
            }
        }
    }
}

.button {
    display: flex;
    align-items: center;
    background-color: var(--button-background);
    border: solid 1px var(--border-color);
    box-sizing: border-box;
    justify-content: center;
    user-select: none;

    &.h32 {
        border-radius: 8px;
        height: 32px;
        font-size: 14px;
        padding: 0 6px;

        *:not(:last-child) {
            margin-right: 6px; // space between items
        }

        span.important {
            width: 100%;
            text-align: center;
        }

        .icon {
            height: 20px;
        }
    }

    &.h24 {
        border-radius: 6px;
        height: 24px;
        font-size: 12px;
        padding: 0 4px;

        *:not(:last-child) {
            margin-right: 4px; // space between items
        }
    }

    &.s96 {
        height: 96px;
        width: 96px;
    }
}

.icon {
    &.d180 {
        transform: rotate(180deg);
    }

    &.X2 {
        height: 48px;
    }

    @media (pointer: fine) {
        cursor: pointer;
    }

    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

main {
    height: calc(100% - 96px);

    @media (min-width: 800px) { 
        height: calc(100% - 54px);
    }

    @media (max-height: 520px) {
        height: calc(100% - 72px);
    }

    #designer {
        height: 100%;
        position: relative;
        background-color: var(--panel-background);

        .views-list {
            width: 127px; // but in reality is 128px because of the border.
            height: 100%;
            background-color: var(--panel-background);
            border-right: solid 1px var(--border-color);
            overflow: scroll;
            user-select: none;

            > div {
                display: flex;
                height: 32px;
                align-items: center;
                padding: 0 4px;
                border-bottom: solid 1px var(--border-color);
                font-size: 12px;

                *:not(:last-child) {
                    margin-right: 4px; // space between items
                }

                @media (max-width: 370px) {
                    flex-direction: column;
                    height: 48px;
                    font-size: 8px;
                    justify-content: center;
                }
            }

            @media (max-width: 370px) {
                width: 64px;

                > div {
                    *:not(:last-child) {
                        margin-right: 0px; // space between items
                    }
                }
            }
        }

        .preview {
            background-color: var(--root-background);
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            transform-origin: top left;
            opacity: 0;
            transition: opacity 0.25s;
            //transform: scale(100% * (100% - 128));

            .status-bar {
                background-color: var(--panel-background);
                height: 32px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 0 24px;

                .clock {
                    font-size: 12px;
                }

                .indicators {
                    display: flex;

                    :first-child {
                        margin-right: 8px;
                    }
                }
            }

            .action-bar {
                background-color: var(--panel-background);
                height: 54px;
                display: flex;
                align-items: center;
                padding: 0 24px;
                font-size: 20px;
                border-bottom: solid 1px var(--border-color);
            }
        }
    }
}